<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dojo Weather
  </h1>
  <div class="city-nav">
    <ul>
      <li><button [routerLink]="['san-jose']">San Jose</button></li> |
      <li><button [routerLink]="['seattle']">Seattle</button></li> |
      <li><button [routerLink]="['chicago']">Chicago</button></li>

      <!-- <li><button [routerLink]="['san-jose']">San Jose</button></li> |
      <li><button [routerLink]="['san-jose']">San Jose</button></li> |
      <li><button [routerLink]="['san-jose']">San Jose</button></li> |
      <li><button [routerLink]="['san-jose']">San Jose</button></li> -->
    </ul>

  <router-outlet></router-outlet>
